// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$primary: #004578;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here



$nav-link-color: (
	$dark
);



$nav-underline-link-active-color: (
	$dark
);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


.landing{
	background-image: url(/pics/deepocean1.jpg);
	background-size: cover;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-top: 10px;
}


@include media-breakpoint-up(lg){
	.landing{
		margin-top: 10px
	}
}
.landingcontent{
	display: grid;
	grid-template-columns: 1fr;
}

@include media-breakpoint-up(lg){
	.landingcontent{
		grid-template-columns: 6fr 1fr 5fr;
	}
}
.landingtitler{
	color: white;
	display: grid;
	grid-template-rows: 11fr 1fr;

	

}

.landingtitler h1{
	margin-bottom: 50px;
	font-size: 3.75rem;
}

@include media-breakpoint-up(lg){
	.landingtitler h1{
		margin-bottom: 100px;
	}

}


.landingbillede {
	margin-top: 30px;
}
@include media-breakpoint-up(lg){
	.landingbillede {
		margin-top: 0px;
	}
}
.landingbillede img{
	width: 100%;
}

.forsidenav,
.contentnav {
	display: none;
}


@include media-breakpoint-up(md) {
	.mobilnav {
		display: none;
	}

	.contentnav {
		display: flex;
	}
}

.forside1 {
	background-color: rgba(0, 0, 0, 0.397);
}

.forside {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 100vh;


	/*Dette sikrer at classen "forside" fylder hele browser vinduet, vh er relativt til % af højden på viewporten*/

}

@include media-breakpoint-up(sm) {
	.forside {
		grid-template-columns: 1fr 1fr;
	}
}

footer {
	background-color: #004578;
}

.footer {
	display: grid;
	grid-template-rows: 6fr 4fr;
}

.idapfooter {
	display: grid;
	grid-template-columns: 6fr 6fr;
	order: 1;
}


@include media-breakpoint-up(lg) {
	.footer {
		grid-template-columns: 4fr 4fr 4fr;
		grid-template-rows: 1fr;
	}

	.idapfooter {
		grid-template-columns: 1fr;
		order: 0;
		padding-right: 40px;
	}
}


.footerrækker {
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.footerrække {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}



/*Dette skaber en transparent sort boks, samt gør titlerne hvide */

.titler {
	color: #ffffff;
	height: 100%;
	width: 100%;

	padding-top: 100px;

}

.titler h1 {
	font-size: 40px;
}

@include media-breakpoint-up(md) {
	.titler {
		padding-top: 0px;
	}
}




@include media-breakpoint-up(lg) {
	.titler h1 {
		font-size: 60px;
	}
}


.indhold {
	width: 100%;
	height: 100%;
}



.logo {
	width: 30px;
}

.widelogo {
	width: 100px;
}

.photocontainer img {
	width: 100%;
	z-index: 0;
}

@include media-breakpoint-up(lg) {
	.photocontainer {
		margin-top: 10px;
	}
}

.contenttitel {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	color: #fff;
}

.contentpages {
	background-color: #fff;


}

.nav-link {
	height: 51px;
	margin-top: 10px;
}

.recycle img {
	width: 80%;
}

@include media-breakpoint-up(md) {
	.recycle img {
		padding-top: 100px;
	}
}

.photonav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.left,
.right {
	display: none;
}

#newsletter {
	display: none;

}

@include media-breakpoint-up(md) {
	.photonav {

		grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.left,
	.right {
		display: block;
	}

	#newsletter {
		display: flex;
	}
}

.imagenav img {
	width: 100%;
}

@include media-breakpoint-up(lg) {
	.imagenav img {
		width: 100%;
	}

}

.imagenav {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 20px;
	margin-bottom: 60px;
}

@include media-breakpoint-up(lg) {
	.content {
		grid-template-columns: 6fr 6fr;
		margin-bottom: 152px;

	}

}

.contenttekstleft {
	display: grid;
	grid-template-rows: 11fr 1fr;
	margin-top: 24px;
}

.contenttekstright {
	display: grid;
	grid-template-rows: 11fr 1fr;
	margin-top: 24px;
}

@include media-breakpoint-up(lg) {
	.contenttekstleft {

		margin-top: 0px;
		padding-right: 50px;
	}

	.contenttekstright {
		margin-top: 0px;
		padding-left: 50px;
	}
}
.tekst{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.contentphotos img {
	width: 100%;

}

.knapper {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.knapper button {
	grid-column-start: 2;
	grid-column-end: 3;
	border-radius: 30px;
}

@include media-breakpoint-up(md) {
	.knapper {
		grid-template-columns: 2fr 2fr 2fr;
	}

	.knapper button {
		grid-column-start: 1;
		grid-column-end: 2;
	}
}

.saveouroceans {
	order: -1;
}

@include media-breakpoint-up(lg) {
	.saveouroceans {
		order: 0;
	}
}

.footerlogo img {
	width: 100%;
}

.footerinput {
	display: none;

}

.footernyhed {
	display: none;
}


@include media-breakpoint-up(lg) {
	.footernyhed {
		display: grid;
	}

	.footerinput {
		display: grid;
		grid-template-columns: 5fr 1fr;
	}

	.footerrækker {
		padding-left: 50px;
	}
}