// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...




#landing {
	background-image: url("/pics/dive1.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.forsidenav, .mobilnav {
	background-color: rgba(0, 0, 0, 0.637);
}


.forsidenav, .contentnav{
	display: none;
}


@include media-breakpoint-up(md){
	.forsidenav{
		display: flex;
	}
	.mobilnav{
		display: none;
	}
	.contentnav{
		display: flex;
	}
}


.forside {
	width: 100%;
	height: 100vh;
	/*Dette sikrer at classen "forside" fylder hele browser vinduet, vh er relativt til % af højden på viewporten*/

}

footer {
	background-color: rgba(0, 0, 0, 0.637);
	display: grid;
	grid-template-columns: 1fr;
}


@include media-breakpoint-up(sm) { 
	footer{
		grid-template-columns: 6fr 6fr;
	}
}

@include media-breakpoint-up(md){
	footer{
		grid-template-columns: 4fr 4fr 4fr;
	}
}
@include media-breakpoint-up(lg) { 
	footer{
		grid-template-columns: 3fr 3fr 3fr 3fr;
	}
}

.footerrække {
	display: grid;
	grid-template-rows: 1fr;
	margin: 50px;
}

/*Dette skaber en transparent sort boks, samt gør titlerne hvide */

.titler {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.397);
	height: 100%;
	width: 100%;

}

/*Centrerer tekst*/
.overskrifter {
	text-align: center;
}

.indhold {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.knapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.knapper button {}
.logo{
	width: 30px;
}
.widelogo{
	width:100px;
}
.photocontainer{
	background-color: rgb(0, 0, 0);
}
.photocontainer img{
	width: 100%;
	z-index: 0;
}
.contenttitel{
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	color: #fff;
}

.contentpages{
background-color: #fff;

}