// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$primary: #004578;
// ændrer primary til #004578

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here


// ændrer nav-link-color og underline active link color til $dark i stedet
$nav-link-color: (
	$dark
);



$nav-underline-link-active-color: (
	$dark
);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

// stylet til at have et baggrundsbillede som fylder hele diven
.landing {
	background-image: url(/idap/pics/deepocean1.jpg);
	// Denne path SKAL VÆRE ÆNDRET PÅ LIVE SERVER til /idap/pics/deepocean1.jpg ellers så loader billedet ikke

	background-size: cover;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-top: 10px;
}


@include media-breakpoint-up(lg) {
	.landing {
		margin-top: 10px
	}
}

// ændret gridet til at være en enkelt fraction på sm som derefter udvider sig til at tekst + billede fylder hhv. 6fr og 5fr med et enkelt fraction imellem dem når siden når large
.landingcontent {
	display: grid;
	grid-template-columns: 1fr;
}

@include media-breakpoint-up(lg) {
	.landingcontent {
		grid-template-columns: 6fr 1fr 5fr;
	}
}

// inddeling af tekst i rows, samt gør tekst hvid
.landingtitler {
	color: white;
	display: grid;
	grid-template-rows: 11fr 1fr;



}

// tilføjer margins og ændrer font-size på landing page
.landingtitler h1 {
	margin-bottom: 50px;
	font-size: 3.75rem;
}

@include media-breakpoint-up(lg) {
	.landingtitler h1 {
		margin-bottom: 100px;
	}

}


.landingbillede {
	margin-top: 30px;
}

@include media-breakpoint-up(lg) {
	.landingbillede {
		margin-top: 0px;
	}
}

// Gør så billedet fylder hele diven ud
.landingbillede img {
	width: 100%;
}

// Fjerner contentnav når siden er på mobil og tilføjer/fjerner hhv. contentnav og mobilnav, når siden rammer md breakpoint
.contentnav {
	display: none;
}


@include media-breakpoint-up(md) {
	.mobilnav {
		display: none;
	}

	.contentnav {
		display: flex;
	}
}

// ændrer footerfarve
footer {
	background-color: #004578;
}

// Inddeler footer i rows
.footer {
	display: grid;
	grid-template-rows: 6fr 4fr;
}

// Sætter logo + kontaktinfo til at være nederst på mobil ved hjælp af order og inddeler indholdet til at fylde 6col hver
.idapfooter {
	display: grid;
	grid-template-columns: 6fr 6fr;
	order: 1;
}

// Retter logo + kontakt info til at være 0 i order så det står på linje, samt gør det til en enkelt row og footeren bliver udvidet til at være 3-delet i stedet for 2-delet efter large breakpoint + padding til large breakpoint
@include media-breakpoint-up(lg) {
	.footer {
		grid-template-columns: 4fr 4fr 4fr;
		grid-template-rows: 1fr;
	}

	.idapfooter {
		grid-template-columns: 1fr;
		order: 0;
		padding-right: 40px;
	}
}

// footerrækker ændret til at være 2-delt
.footerrækker {
	display: grid;
	grid-template-columns: 1fr 1fr;

}
// Individuelle rækker rettet til at være 4 rows der fylder lige meget
.footerrække {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}





// er ikke længere aktive skal egentlig bare fjernes
.indhold {
	width: 100%;
	height: 100%;
}



.logo {
	width: 30px;
}
// widelogo rettet til 100px i width
.widelogo {
	width: 100px;
}
// img fylder hele div'en og sætter billedet bagerst med z-index
.photocontainer img {
	width: 100%;
	z-index: 0;
}

@include media-breakpoint-up(lg) {
	.photocontainer {
		margin-top: 10px;
	}
}
// sætter titlen til at have en absolut position, så det ligger foran billedet og bruger flex-box til at centrere titlen samt ændre titlen til hvid
.contenttitel {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	color: #fff;
}
// gør baggrund hvid
.contentpages {
	background-color: #fff;


}

.nav-link {
	height: 51px;
	margin-top: 10px;
}
// er ikke længere aktive, skal egentlig bare fjernes
.recycle img {
	width: 80%;
}

@include media-breakpoint-up(md) {
	.recycle img {
		padding-top: 100px;
	}
}
// gør photonav til grid der fylder en fjerdedel hver
.photonav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
// fjerner div's left and right på mobil, samt fjerner den 5. cirkel scroll-spy på mobil
.left,
.right {
	display: none;
}

#newsletter {
	display: none;

}
// retter photonav'en til i størrelse når breakpoint rammer medium, tilføjer margins i top og bottom, tilføjer div's left and right for at skabe tomme pladser til gridet.
@include media-breakpoint-up(md) {
	.photonav {

		grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.left,
	.right {
		display: block;
	}
// tilføjer den 5. scrollspy imagenav når breakpoint rammer medium
	#newsletter {
		display: flex;
	}
}

.imagenav img {
	width: 100%;
}

@include media-breakpoint-up(lg) {
	.imagenav img {
		width: 100%;
	}

}
// gør de individuelle billeder i photonaven til flex, retter den til column og aligner alt i midten
.imagenav {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
// Gør content til at fylde alle 12 cols på siden på mobil, tilføjer column gaps, og udvider margin-bottom på lg breakpoint, samt gør contentet 2-delt.
.content {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 20px;
	margin-bottom: 60px;
}

@include media-breakpoint-up(lg) {
	.content {
		grid-template-columns: 6fr 6fr;
		margin-bottom: 152px;

	}

}
// inddeler tekst i rows + tilføjer margin
.contenttekstleft {
	display: grid;
	grid-template-rows: 11fr 1fr;
	margin-top: 24px;
}

.contenttekstright {
	display: grid;
	grid-template-rows: 11fr 1fr;
	margin-top: 24px;
}
// fjerner margin top og tilføjer padding left/right efter breakpointet rammer large
@include media-breakpoint-up(lg) {
	.contenttekstleft {

		margin-top: 0px;
		padding-right: 50px;
	}

	.contenttekstright {
		margin-top: 0px;
		padding-left: 50px;
	}
}
// Gør div'en tekst til en flex-column og spreder alt ligeligt ud.
.tekst {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.contentphotos img {
	width: 100%;

}
// inddeler div'en knapper i grid-columns og sætter "button" til at starte på grid-column 2 og slutte på grid-column 3, samt styler border-radius'en på knapper.
.knapper {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.knapper button {
	grid-column-start: 2;
	grid-column-end: 3;
	border-radius: 30px;
}
// ændrer på inddelingen i div'en knapper til være venstre-stillet og udvider div'en til at være 6-delt 
@include media-breakpoint-up(md) {
	.knapper {
		grid-template-columns: 2fr 2fr 2fr;
	}

	.knapper button {
		grid-column-start: 1;
		grid-column-end: 2;
	}
}
// Sætter .saveouroceans classen til at være -1, så billedet ligger sig over teksten på mobil.
.saveouroceans {
	order: -1;
}
// Sætter .saveouroceans classen til at være 0, så den retter sig til når breakpoint large er nået.
@include media-breakpoint-up(lg) {
	.saveouroceans {
		order: 0;
	}
}

.footerlogo img {
	width: 100%;
}
// Fjerner nyhedsbrev inputtet i footeren på mobil
.footerinput {
	display: none;

}

.footernyhed {
	display: none;
}
// Tilføjer padding til div'en footerrækker når den når breakpoint large, samt tilføjer nyhedsbrevsinputtet + knap når breakpoint large er nået. Desuden bliver .inputfooter inddelt så knappen fylder en 1 fraction og selve inputtet fylder 5 fractions.

@include media-breakpoint-up(lg) {
	.footernyhed {
		display: grid;
	}

	.footerinput {
		display: grid;
		grid-template-columns: 5fr 1fr;
	}

	.footerrækker {
		padding-left: 50px;
	}
}